.gradient {
  background: linear-gradient(97.13deg, #E9E9E9 0%, #515151 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

.subtitulo {
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.texto-medio {
  font-size: 1.5rem;
  line-height: 1.33;
  font-weight: 400;
  text-align: center;
  margin-bottom: 60px;
}

.dec:before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: #ededed;
  background: -webkit-linear-gradient(to top, #e9e9e9, #515151);
  background: linear-gradient(to top, #e9e9e9, #515151);
  position: absolute;
  top: 20px;
  left: -4px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cor-02);
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  background: var(--cor-04);
  border: 1px solid var(--cor-03);
  width: 15rem;
  height: 4rem;
  text-decoration: none;
}

.btn:hover {
  border: 1px solid var(--cor-01);
}

.btn a {
  text-decoration: none;
  color: var(--cor-02);
}

.btn i {
  color: var(--cor-02);
  font-size: 1.5rem;
  margin-right: .4rem;
}

.btn:hover {
  letter-spacing: .1rem;
}

@media (max-width: 500px) {
  .btn {
    width: 8rem;
    font-size: 0.75rem;
    height: 3rem;
  }

  .btn i {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .subtitulo {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  .btn {
    width: 8rem;
    font-size: 0.75rem;
    height: 3rem;
  }
}