.conhecimentos {
    margin-top: 70px;
    background: var(--cor-04);
    border-bottom: 1px solid var(--cor-03);
    border-top: 1px solid var(--cor-03);
    padding-top: 40px;
}

.barra {
    border-bottom: 1px solid var(--cor-03);
    max-width: 100px;
    margin: 0 auto;
    padding-top: 10px;
}

.container_conhecimento {
    padding: 40px 40px;
}

.area_conhecimentos {
    display: flex;
}

.conhecimento {
    flex: 1;
    text-align: center;
    border-right: 1px solid var(--cor-03);
    padding: 15px;
}

.conhecimento:first-child {
    border-left: 1px solid var(--cor-03);
}

.conhecimento h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: var(--cor-02);
}

.conhecimento i {
    font-size: 50px;
    color: var(--cor-02);
}

.conhecimento p {
    margin-top: 10px;
    font-size: 1rem;
    color: var(--cor-02);
}

.texto-descricao {
    transition: all 3s !important;
    visibility: hidden;
    opacity: 0;
    padding-top: 0px;
}


.conhecimento:hover .texto-descricao {
    opacity: 1;
    visibility: visible;
    padding-top: 10px;
    color: var(--cor-02);
}

@media (max-width: 800px) {
    .area_conhecimentos {
        flex-wrap: wrap;
    }

    .conhecimento {
        min-width: 40%;
        margin-bottom: 30px;
    }

    .conhecimento {
        border-left: 1px solid var(--cor-03);
    }
}

@media (max-width: 500px) {
    .conhecimento {
        border-left: 0;
    }

    .conhecimento:first-child {
        border-left: 0;
    }

    .titulo_conhecimento {
        font-size: 1.5rem;
    }

    .area_conhecimentos {
        flex-direction: column;
    }

    .conhecimento {
        border-bottom: 1px solid var(--cor-03);
        border-right: 0;
    }

    .conhecimento:last-child {
        border-bottom: 0;
    }
}