.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #242424;
}

.footer ul {
  list-style: none;
  display: flex;
}

.footer li {
  min-width: 60px;
  margin: 20px 10px !important;
  padding: 10px;
  color: #cacaca;
  font-size: 1.2rem;
  background: #1a1a1a;
  border: 1px solid #242424;
  border-radius: 4px;
}

.footer li:hover{
  border: 1px solid #fafafa;
  color: #fafafa;
}

.footer a {
  text-decoration: none;
}

.copy {
  margin: 20px 20px;
  color: #cacaca;
}

.footer_mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #242424;
}

.footer_mobile ul {
  list-style: none;
  display: flex;
}

.footer_mobile li {  
  margin: 20px 10px;
  color: #cacaca;
}

.footer_mobile i {
  font-size: 1.5rem;
}

.footer_mobile a {
  text-decoration: none;
}

.copy_mobile {
  margin: 20px 20px;
  color: #cacaca;
}

@media (max-width: 800px) {
  .footer li {
    margin: 20px 0px;

  }
}

@media (max-width: 500px) {
  .footer{
    display: none;
  }

  .footer_mobile{
    display: flex;
  }

  
  .footer_mobile i:hover {
    color: #fafafa;
  }

  .copy_mobile {
    font-size: 0.75rem;
  }

  .footer_mobile{
    flex-direction: column;    
    
  }

  .footer_mobile ul{
    padding: 0;
  }

  .footer_mobile li{
    margin: 0px 10px;
  }
}

