footer .menu {
  border-top: 1px solid var(--cor-03);
}

footer .menu_mobile {
  border-top: 1px solid var(--cor-03);
}

.copy {
  margin: 20px 20px;
  color: var(--cor-02);
}

@media (max-width: 800px) {
  footer .menu li {
    margin: 20px 0px;
  }

  .copy {
    font-size: 0.812rem;
  }
}

@media (max-width: 700px) {
  footer .menu {
    flex-direction: column-reverse;
  }

  footer .menu li {
    padding-top: 10px;
    margin: 20px 0 0 0 !important;
  }
}

@media (max-width: 500px) {
  footer .menu_mobile {
    flex-direction: column-reverse;
  }

  footer .menu_mobile a {
    padding-top: 20px;
  }

  .copy_mobile {
    font-size: 0.75rem;
  }

  .copy_mobile {
    margin: 0 0 20px 0;
    color: var(--cor-02);
  }

}