.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1c1c1c;
}

.menu ul {
  display: flex;
  margin: 10px 0;
}

.menu li {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 20px;
  font-family: "Roboto";
}

.menu a {
  padding: 10px 0;
  color: #cacaca;
  position: relative;
}

.menu a:after {
  content: "";
  display: block;
  height: 1px;
  width: 0%;
  background-color: #006CBE;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.menu a:hover:after {
  width: 100%;
}

.menu a:hover {
  color: #ededed;
}

.logo a {
  font-size: 2rem;
  font-weight: 400;
  padding: 20px;
  font-family: "Roboto";
}

.logo a:after {
  display: none;
}

.menu_mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1c1c1c;
}

.menu_mobile ul {
  display: flex;
}

.menu_mobile a {
  color: #cacaca;
  padding: 10px;
}

.menu_mobile i {
  font-size: 1.5rem;
}

.logo_mobile a {
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 800px) {
  .menu ul a {
    background: #1a1a1a;
    border: 1px solid #242424;
    border-radius: 4px;
  }

  .menu ul a:hover {
    border: 1px solid #ededed;
  }

  .menu li {
    font-size: 1rem;
    padding: 10px;
  }

  .menu a {
    padding: 10px;
  }

  .menu a:after {
    display: none;
  }
}

@media (max-width: 500px) {
  .menu {
    display: none;
  }

  .menu_mobile li {
    padding: 10px 0;
  }

  .menu_mobile {
    display: flex;
  }

  .menu_mobile a:hover {
    color: #fafafa;
  }
}