.projetos {
  padding: 70px 20px;
}

.projeto {
  display: none;
}

.projeto.ativo {
  display: flex;
  animation: slideDown .5s forwards;
}

.projeto {
  padding: 20px;
  background: var(--cor-04);
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.08);
}

.projeto-head {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 20px;
  color: var(--cor-02);
  background: var(--cor-04);
  border-radius: 4px;
  position: relative;
  font-weight: 400;
  cursor: pointer;
  border-bottom: solid 1px var(--cor-03);
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.08);
}

.projeto-head::after {
  content: '⤵';
  display: flex;
  justify-content: end;
  color: var(--cor-02);
  font-size: 20px;
  font-weight: 500;
}

.projeto-head.ativo::after {
  content: '⤴';
  display: flex;
  justify-content: end;
  color: var(--cor-02);
  font-size: 20px;
  font-weight: 500;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    max-height: 200px;
    opacity: 1;
  }
}

.projeto-texto {
  flex: 1;
  min-width: 150px;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--cor-02);
}

.projeto-texto a {
  color: var(--cor-b1);
  font-weight: 500;
}

.projeto-texto a:hover {
  border-bottom: dotted 1px var(--cor-b1);
}

.projeto-habilidades {
  display: flex;
  justify-content: center;
  align-items: start;
  flex: 1;
}

.projeto-habilidades li {
  font-size: 0.875rem;
  border-radius: 4px;
  background: var(--cor-04);
  margin-right: 10px;
  padding: 10px;
  color: var(--cor-02);
  border: 1px solid var(--cor-03);
}



@media (max-width: 800px) {

  .projeto-habilidades {
    flex-direction: column;
    align-items: center;
  }

  .projeto-habilidades li {
    margin: 4px 4px;
  }

  .projeto-habilidades li {
    font-size: 0.75rem;
  }
}

@media (max-width: 500px) {
  .projeto-texto {
    flex: 2;
  }

  .projeto-head {
    font-size: 1rem;
  }

}

@media (max-width: 400px) {
  .projetos-texto {
    font-size: 1rem;
  }

  .projeto {
    flex-direction: column;
  }

  .projeto-habilidades {
    flex-direction: row;
  }

  .projeto-habilidades li {
    font-size: 0.625rem;
    margin-right: 5px;
    margin-top: 20px;
    padding: 5px;
  }

  .projeto-texto {
    font-size: 0.75rem;
  }
}