.projetos {
  padding: 40px 20px;
}

.projeto {
  display: none;
}

.projeto ul {
  padding: 0;
}

.projeto.ativo {
  display: flex;
  animation: slideDown .5s forwards;
}

.projeto {
  padding: 20px; 
  background: #1a1a1a;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.08);  
}

.projeto::before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: #333;
  background: -webkit-linear-gradient(to top, #FFF, #333);
  background: linear-gradient(to top, #FFF, #333);
  position: absolute;
  top: 20px;
  left: -4px;
}

.projeto-head {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 20px;
  color: #9d9d9d;
  background: #1a1a1a;
  border-radius: 4px;
  position: relative;
  font-weight: bold;
  cursor: pointer;
  border-bottom: solid 1px #242424;
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.08);
}

.projeto-head::after {
  content: '⤵';
  display: flex;
  justify-content: end;
  color: #9d9d9d;
  font-size: 20px;
  font-weight: bold;
}

.projeto-head.ativo::after {
  content: '⤴';
  display: flex;
  justify-content: end;
  color: #9d9d9d;
  font-size: 20px;
  font-weight: bold;
}

.projetos-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}


@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    max-height: 200px;
    opacity: 1;
  }
}

.projeto-texto {
  flex: 1;
  min-width: 150px; 
  font-size: 0.875rem;
  line-height: 1.4;
  color: #cacaca;
  
}

.projeto-texto a {
  text-decoration: none;
  color: #cacaca;
  font-weight: bold;
}

.projeto-texto a:hover {
  border-bottom: dotted 1px #fafafa;
}

.projeto-habilidades {
  display: flex;
  justify-content: center;
  align-items: start;
  flex: 1;
}

.projeto-habilidades li {
  font-size: 0.75rem;
  border-radius: 4px;
  background: #1a1a1a;
  margin-right: 10px;
  padding: 10px;
  color: #CCC;
  list-style: none;
  border: 1px solid #242424;
}



@media (max-width: 800px) {

  .projeto-habilidades {
    flex-direction: column;
    align-items: center;
  }

  .projeto-habilidades li {
    margin: 4px 4px;
  }
}

@media (max-width: 500px) {
  .projeto-texto {
    flex: 2;   
  }
  .projeto-head{
    font-size: 1rem;
  }

}

@media (max-width: 400px) {
.projetos-texto {
    font-size: 1rem;
 }
.projeto{  
  flex-direction: column;
}
.projeto-habilidades {
  flex-direction:row; 
}
.projeto-habilidades li {
  font-size: 0.625rem;  
  margin-right: 5px;
  padding: 5px;  
}

.projeto-texto {
  font-size: 0.75rem;  
}

.projeto { 
  padding: 10px 10px;  
}
}